*
{
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}
.all
{
    background-color: rgb(8, 8, 8);
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.all1, .all2
{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
/*news letter*/
body
{
    background: rgb(27, 27, 27);
}
.father
{

    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    margin-left: 7%;
    margin-right: 7%;
    overflow: hidden;
}
.f-main
{
    position: relative;
    background: black;
    height: auto;
    width: 100%;
}
.mother
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding-top: 100px;

}
.left, .right
{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 15px 15px;
    background: black;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
}
span
{
    color: #f9004d;
}
.right
{
  display: flex;
  align-items: center;
  justify-content: center;
}
h1
{
    color: rgb(255, 255, 255);
    margin: 20px 0 20px;
    font-size: 45px;
}
h3
{
    margin-top: 5%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    margin-bottom:3%;
}
h4
{
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 20px;
}
small
{
  color: white;
}
.newslatter form
{
    width: 380px;
    width: 100%;
    position: relative;
}
#id_url {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid #f9004d;
  outline: none;
  border-radius: 30px;
  transition: border-color 2s ease-in-out;
}

#id_url:hover {
  box-shadow: 0 4px 8px #f9004d, 0 6px 20px #f9004d;
}

/* Focus effect */
#id_url:focus {
  border-color: rgba(52, 152, 219, 0.3);
  box-shadow: 0 4px 8px rgba(52, 152, 219, 0.3), 0 6px 20px rgba(52, 152, 219, 0.2);
}


/* Disabled state */
#id_url:disabled {
  background-color: #ecf0f1;
  color: #7f8c8d;
  cursor: not-allowed;
}
.btn
{
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform .4s;
}
.btn:hover
{
  transform: scale(1.2); 
}
.newslatter button
{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #444444;
    top: 25px;
    right: 6px;
}
.alltext
{
    display: flex;
    flex-direction: column;
}
.alltext a
{
    text-decoration: none;
    font-size: 30px;
}
.alltext2 h1
{
    font-size: 33px;
}
#first-pic
{
    max-width:250px;
    height: auto;
    border-radius: 50%;
}
/*news letter*/
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    justify-content: center;
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px #f9004d, 0 6px 20px #f9004d;
    background-color: black ;
    box-sizing: border-box; /* Include padding in the total width */
  }
